<form action="/users/<%= user._id %>/foods" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    
    <label for="pantry">Pantry Items:</label>
    <input type="text" name="pantry" id="pantry">
    
    <!-- Add a submit button -->
  <button type="submit">Add food</button>
  </form>
  